/*-- scss:defaults --*/

/*-- scss:rules --*/

/* 
Adjust publications page appearance
*/

.csl-bib-body {
  padding-bottom: 1em;
}

.csl-entry {
  line-height: 1.25;
}

/*
Adjust logo size
*/

.navbar-logo {
  max-height: 50px; 
  width: auto;
  padding-right: 4px;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

/*
Makes homepage a little wider
*/

div.quarto-about-trestles .about-entity {
    flex: 0 0 30%;
}